@charset "utf-8";
/* 布局 */
#b .r8 .c1,
#b .r10 .c1{width:476px;}
#b .r8 .c2,
#b .r10 .c2{width:476px;}
#b .r2 .c1{width:700px;}
#b .r2 .c2{width:250px;}
/* 公共 */
.h,
.h1{position:relative;}
.more{position:absolute; right:15px; top:10px;}
#h{background:url(../img/h.png) repeat-x;}
#h .w1{background:url(../img/h-bg.png) no-repeat center top; width:1150px; margin:0 auto;}
#h .ad{padding:5px 0; border-bottom:1px solid #EEEBDE}
#b .r{margin-bottom:10px;border:1px solid #DFA46F; background:url(../img/sitemap/r.jpg) no-repeat; }
#b .ad{margin-bottom:10px;}

.mb {background:url(../img/m1-bk.gif) repeat-x; }
.md {background:url(../img/r9-bk.gif) repeat-x;}
.mb img{padding:2px;border:1px solid #D7D7D7;}
.mb dt{background:transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4B000000,endColorstr=#4B000000);
zoom: 1;background:rgba(0,0,0,0.2); height:32px; line-height:32px; margin-top:-32px; position:relative; z-index:2; text-align:center; margin:-35px 3px 0;}
.mb dt a{color:#fff; text-align:center; display:block;}
.bt{padding-bottom:5px;border-bottom: 1px dotted #B1B1B1 ;}
.bn li{padding:5px 0; border-bottom: 1px dotted #B1B1B1 ; position:relative;}
.bn a span{ position:absolute; right:15px; color:#939393;}
.md h2{height:49px; width:112px; position:absolute; left:16px; top:-9px;}
.md .h{height:50px;}
.tab .b{display:none;}
.tab .active{display:block;}

.m{ border:1px solid #E1AB7A; padding:1px; margin-bottom:15px;}
.ma .h{background:url(../img/user_admin/ma-h.png) no-repeat;}
.ma .b{padding-left:31px;}
.ma li{ margin:0 23px 22px;}
.ma a{display:block; text-indent:-999em;width:178px; height:69px;}
/* 重置登陆密码 m1*/
#b .w{border-top:6px solid #E5E3E3;}
.m1{border:1px solid #E5E3E3; margin-top:1px; padding:0 10px 30px 10px;}
.m1 .h{height:50px; line-height:50px;}
.m1 h2{color:#EC6702; font-size:16px; font-weight:bold; border-bottom:1px solid #E5E3E3; padding-left:30px;}
.m1 .b{padding:20px 320px 0 253px;}
.m1 h3{font-size:16px; color:#5A5A5A; font-weight:bold; margin-bottom:10px;}
.m1 .br1 div{padding:7px 0;}
.m1 .l1{ margin:0;}
.m1 label{font-size:14px; color:#464444;}
.m1 input{width:210px; height:24px;}
.m1 .l3{height:25px; line-height:25px;}
.m1 .l3 img{padding-left:155px;}
.m1 .l3 span{font-size:12px; color:#939393; margin-left:15px; vertical-align:7px;}
.m1 .br2{margin-top:50px;}
.m1 .br2 p{line-height:38px; font-size:14px;}
.m1 .br3{text-align:center;}
.m1 .btn{background:url(../img/reset%20password/btn.png) no-repeat; width:120px; height:35px; cursor:pointer; border:none; font-size:16px; line-height:35px; font-family:'微软雅黑'; font-weight:bold; color:#fff;}